{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "semi": [0],
    "import/no-extraneous-dependencies": [0],
    "global-require": [1],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "import/no-unresolved": [0],
    "arrow-body-style": [0],
    "react/prop-types": [0],
    "no-unused-vars": [0],
    "react/destructuring-assignment": [0],
    "no-underscore-dangle": [0],
    "no-console": [0],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
